In [2]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure,show, output_file
start = datetime.datetime(2017,12,25)
end  = datetime.datetime(2018,1,7)
df = data.DataReader(name="GOOG",data_source="yahoo",start=start,end=end)
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-12-26,1058.069946,1060.119995,1050.199951,1056.739990,1056.739990,760600
2017-12-27,1057.390015,1058.369995,1048.050049,1049.369995,1049.369995,1271900
2017-12-28,1051.599976,1054.750000,1044.770020,1048.140015,1048.140015,837100
2017-12-29,1046.719971,1049.699951,1044.900024,1046.400024,1046.400024,887500
2018-01-02,1048.339966,1066.939941,1045.229980,1065.000000,1065.000000,1237600
2018-01-03,1064.310059,1086.290039,1063.209961,1082.479980,1082.479980,1430200
2018-01-04,1088.000000,1093.569946,1084.001953,1086.400024,1086.400024,1004600
2018-01-05,1094.000000,1104.250000,1092.000000,1102.229980,1102.229980,1279100

In [4]:
df.Close

Date
2017-12-26    1056.739990
2017-12-27    1049.369995
2017-12-28    1048.140015
2017-12-29    1046.400024
2018-01-02    1065.000000
2018-01-03    1082.479980
2018-01-04    1086.400024
2018-01-05    1102.229980
Name: Close, dtype: float64

In [3]:

def inc_dec(c, o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        value="Equal"
        return value
df["Status"]=[inc_dec(c,o) for c, o in zip(df.Close,df.Open)]
df["Middle"]=(df.Open+df.Close)/2
df["Height"]=abs(df.Close-df.Open)

p=figure(x_axis_type='datetime', width=1000, height=300, sizing_mode="scale_both")
p.title.text="Candlestick Chart"
p.grid.grid_line_alpha=0.3

hours_12=12*60*60*1000

# p.segment(df.index, df.High, df.index, df.Low, color="Black")

p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"],hours_12, df.Height[df.Status=="Increase"],fill_color="green",line_color="black")


show(p)